* {
    font-family: Sansation, sans-serif;
}

.panel-default {
    background-color: transparent;
}

.panel-default > .panel-heading {
    color: #FFF;
    background-color: rgba(34,34,34,0.85);
    border-color: #DDD;
}

.panel-footer {
    height: 50px;
    background-color: rgba(34,34,34,0.85);
}

#panelfix {
    background-color: rgba(51,51,51,0.85);
}

.panel-body {
    background-color: transparent;
}

.time-panel {
    background-color: transparent !important;

    border-color: transparent !important;
}

.time {
    font-family: LatoLight, "Open Sans", sans-serif;
    font-size: 96px;
    line-height: 1em;
    color: rgb(61, 115, 197);
    /* background-color: rgba(51,51,51,0.85); */
    background-color: transparent;
    position: relative;
    top: 11px;
    text-decoration: none;
    transition: all 1s ease-out 0s;
}

.list-group-item {
    background-color: #111;
    color: #FFF;
    border: 0px solid #333;
}
.list-group-item:hover {
    background-color: #333;
    color: #FFF;
    border: 0px solid #333;
}

a.list-group-item, button.list-group-item {
    color: #FFF;
}

.img-circle {
	background-color: #FFF;
    border-radius: 5px;
}

.btn-default {
    color: #FFF;
    background-color: #111;
    border-color: transparent;
}

.btn-default:hover {
	background-color: #333;
	color: #FFF;
}

#user-target2 i {
    color: #1094d2;
}

#trigger i {
    color: #1094d2;
}


a.list-group-item:hover, button.list-group-item:hover, a.list-group-item:focus, button.list-group-item:focus {
    text-decoration: none;
    background: #333;
    color: #FFF;
}
a.list-group-item.hovered {
    background: #111;
}

a.list-group-item:focus, a.list-group-item:hover {
    background: #222;
    margin: 0px;
    margin-bottom: -1px;
}

#user-list2 img {
    width: 32px;
    height: 32px;
    margin-right: 10px;
    margin-top: 4px;
}

#user-list2 span {
    font-size: 16px;
}
